.svg {
  fill: #8a8aa5;
  opacity: 0.7;
  filter: blur(10px);
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
}

.icon {
  @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
}
