@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .gradiant-1 {
    background: radial-gradient(
        300.32% 66.57% at 2.99% 46.59%,
        rgba(47, 44, 203, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        298.37% 68.95% at 63.97% 50.2%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(270deg, #0a1a2a 35.58%, rgba(10, 26, 42, 0) 100%), #030e1a;
  }

  .gradiant-2 {
    background: linear-gradient(
        272deg,
        rgba(152, 53, 187, 0) 8.43%,
        rgba(2, 16, 54, 0.2) 100%
      ),
      linear-gradient(90deg, rgba(9, 24, 43, 0) 0%, rgba(88, 64, 239, 0.2) 100%),
      linear-gradient(0deg, #10172e 0%, #10172e 100%), #5973ff;
  }

  .gradiant-3 {
    background: linear-gradient(
        90deg,
        rgba(9, 24, 43, 0) 0%,
        rgba(88, 64, 239, 0.2) 100%
      ),
      #030e1a;
  }

  .gradiant-4 {
    background: linear-gradient(
        236deg,
        rgba(149, 153, 239, 0.2) 0.48%,
        rgba(0, 0, 0, 0) 55.37%
      ),
      #e9edff;
  }
  .gradiant-5 {
    background: radial-gradient(
        104.19% 179.29% at 97.26% 131.97%,
        rgba(59, 31, 173, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        215.05% 369.46% at 7.53% 50%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #0a1a2b;
  }

  .button-grey {
    background: linear-gradient(
      90deg,
      rgba(188, 187, 255, 0.14) 0%,
      rgba(89, 116, 255, 0.14) 100%
    );
  }

  .bg-gradiant-header-1 {
    background: radial-gradient(
        840.94% 154.61% at 106.67% 50.65%,
        rgba(100, 26, 175, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #0a1a2b;
  }
  .bg-gradiant-header-2 {
    background: radial-gradient(
        68.93% 824.03% at 77.88% 100%,
        rgba(84, 3, 217, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        162.66% 82.76% at 24.62% 64.94%,
        rgba(73, 39, 129, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #0a1a2b;
  }

  .blur {
    fill: radial-gradient(
      104.42% 104.42% at 63.33% 50%,
      rgba(149, 13, 135, 0.8) 0%,
      rgba(65, 0, 148, 0) 100%
    );
    filter: blur(13.25px);
  }
}

/*
background: radial-gradient(68.93% 824.03% at 77.88% 100%, rgba(84, 3, 217, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(162.66% 82.76% at 24.62% 64.94%, rgba(73, 39, 129, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #0A1A2B;
background: radial-gradient(840.94% 154.61% at 106.67% 50.65%, rgba(100, 26, 175, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #0A1A2B;
*/
